.statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.percentage {
  font-size: 18px;
  font-weight: 400;
}

.label {
  font-size: 12px;
  font-weight: 300;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 250px;
  height: 60px;
  font-family: sans-serif;
}

.statTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  background-color: white;
}
.statList {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
