.percentage {
  font-size: 18px;
  font-weight: 400;
}

.label {
  font-size: 12px;
  font-weight: 300;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 250px;
  height: 60px;
  font-family: sans-serif;
}
.statList {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
